
#map {
  width: 400px;
  height: 400px;
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  display: flex;
}

h1 {
  background-color: lightseagreen;
  text-align: center;
  font-size: large;
  color: black;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  font-family: 'Pacifico', cursive;
  padding: 20px;
  font-size: 50px;
}

.big-main {
  display: flex;

}

#search {
  margin: 10px;
  padding: 10px;
  width: 300px;
  font-size: 16px;
}

html,
body {
  height: 1%;
  margin: 0;
  padding: 0;
}

.location {
  margin: 5px;
  background-color: lightblue;
  border-radius: 15px;
  color: black;
}

.container {
display: flex;
flex-direction: column-reverse;
margin: 20px 0px 0px 0px;
}

.box {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 2000px) {
  #map {
    height: 400px;
    width: 400px;
    float: left;
  }
}

@media screen and (max-width: 408px) {
  #map {
    height: 300px;
    width: 300px;
  }
}