/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
  width: 300px;
  height: 300px;
  float: left;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 50%;
    margin: 0;
    padding: 0;
  }