
#map {
  width: 350px;
  height: 350px;
  float: left;
  margin-top: 25px;
  margin-left: 50px;
}


#search-1 {
  margin: 10px;
  padding: 10px;
  width: 300px;
  font-size: 16px;
}

#search-2 {
  margin: 10px;
  padding: 10px;
  width: 300px;
  font-size: 16px;
}

#button {
  color: red;
}

html,
body {
  height: 50%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
flex-direction: column-reverse;
margin: 20px 0px 0px 0px;
}